---
name: Ansible Lint
run-name: Run ansible-lint
on:
  workflow_call:
    inputs:
      python-version:
        description: "Python version to install"
        required: false
        type: string
        default: "3.14"

env:
  ANSIBLE_ROLES_PATH: roles
  ANSIBLE_HASH_BEHAVIOUR: merge

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.0"

      - name: Set up Python
        run: uv python install ${{ inputs.python-version }}

      - name: Install dependencies
        run: |
          uv -q venv --allow-existing --seed .venv
          . .venv/bin/activate
          uv -q pip install -r requirements.txt

      - name: Run ansible-lint
        run: |
          . .venv/bin/activate
          ansible-lint
